.hero-image-container {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero-image-container > #overlay {
  position: absolute;
  align-content: center;
  z-index: 2;
}
.hero-image-container .background-image {
  display: block;
  width: 100%;
  height: auto;
}
.hero-image-container .background-image > img {
  max-width: 100%;
}
