@import url("../../index.less");

#welcome {
  width: 90%;
  padding: 40px;
  margin: auto auto 40px auto;
  background-color: @secondary;
  background-image: url("../../assets/wecome-background.png");
  > h1 {
    text-align: center;
  }
  > span {
    font-size: 30px;
    font-family: "Jost", serif;
  }
}

#info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  > .decorative-square {
    img {
        width: 100%;
        height: 100%;
    }
    position: relative;
    text-align: center;
    max-width: 33%;
    height: fit-content;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 70%;
        align-items: center;
        >.icon {
            max-width: 150px;
        }
        .info-text {
            padding-left: 30px;
        }
      }
  }
}

#carousel {
  background: @secondary;
}

#specials {
  margin-bottom: 100px;
}

.carousel-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: relative;
  padding: 0px !important;
  max-height: 550px;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 143, 97, 0.5); /* Change the color and opacity as needed */
}

.overlay>img {
  display: block;
  width: 100%;
  height: auto;
}
