@import url("../../index.less");

h1, h3 {
    color: @tertiary!important;
}

img {
    max-width: 100%;
}

.tagline {
    padding-left: 1em;
}

ul {
    list-style-type: none;
}

.collapse-header {
    cursor: pointer;
}

.collapse-content {
    padding-left: 2em!important;
}