@import url("../../index.less");

#bakery {
    h1, h3 {
        color: @tertiary!important;
    }

    img {
        max-width: 100%;
    }

    .tagline {
        padding-left: 2em;
    }

    .tagline2 {
        padding-left: 1em;
    }

    ul {
        list-style-type: none;
    }

    .collapse-header {
        cursor: pointer;
        margin-right: 1em;
    }

    #dog-menu-content, #human-menu-content {
        padding-left: 2em!important;
    }

    .photo-gutter {
        overflow: hidden;
        max-height: 150em;
    }

    .bakery-menu {
        overflow: scroll;
        max-height: 150em;
    }
}