@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
// colors
@primary: #636E5E;
@secondary: #594129;
@tertiary: #C39F77;
@accent: #CFBC91;
@text: white;

//shades
@lighten-10: rgba(255, 255, 255, 0.1);
@lighten-20: rgba(255, 255, 255, 0.2);
@lighten-30: rgba(255, 255, 255, 0.3);
@darken-30: rgba(0, 0, 0, 0.3);
@darken-40: rgba(0, 0, 0, 0.4);
@darken-50: rgba(0, 0, 0, 0.5);

// :root {
//     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

//     color-scheme: light dark;

//     font-synthesis: none;
//     text-rendering: optimizeLegibility;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }